.st0 {
fill-rule: evenodd;
clip-rule: evenodd;
fill: #a9a9a9;
stroke: #FFFFFF;
stroke-width: 1.5;
cursor: pointer;
}

.st1 {
fill: #FFFFFF;
pointer-events: none;
}

.st2 {
font-family: 'Poppins-Bold';
}

.st3 {
font-size: 12px;
}

.st4 {
font-size: 6.8888px;
}

.st5 {
font-size: 6.2138px;
}

.st6 {
font-size: 15px;
}

.st7 {
font-size: 17px;
}

.st8 {
font-size: 14px;
}

.st9 {
font-size: 13.499px;
}

.st10 {
font-size: 18px;
}

.st11 {
font-size: 16px;
}

.st12 {
font-size: 16.4958px;
}

.st13 {
font-size: 9.514px;
}

.st14 {
font-size: 20px;
}

.st15 {
font-size: 19px;
}

.st16 {
font-size: 13px;
}

.st17 {
font-size: 12.2279px;
}

.st18 {
font-size: 9px;
}

.st19 {
font-size: 7.6939px;
}

.st20 {
font-size: 12.9154px;
}

.st21 {
font-size: 10.2898px;
}

.st22 {
font-size: 5.1904px;
}

.st23 {
font-size: 6.7815px;
}

.st24 {
font-size: 3.7289px;
}

.st25 {
font-size: 5.8677px;
}

.st26 {
font-size: 1.5px;
}

.st27 {
font-size: 6.0084px;
}

.st28 {
font-size: 2.9939px;
}

.st29 {
fill-rule: evenodd;
clip-rule: evenodd;
fill: #72B626;
}